.Collager-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
  background: black;
  color: var(--primary-text-color);
}

.login-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  width: 80%;
}

.login-container p {
  font-size: var(--primary-font-size);
  margin-bottom: 40px;
}

.spotify-btn {
  background: transparent;
  color: white;
  letter-spacing: 0.05em;
  padding: 12px;
  border-radius: 10px;
  text-transform: uppercase;
  border: 5px solid #1db954;
  transition: color 0.3s linear;
  font-weight: 700;
  text-decoration: none;
  cursor: pointer;
}

.spotify-btn:hover {
  color: #1db954;
}

.authorized-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10%;
}

.collage-container {
  display: flex;
  height: 90%;
}
