.Collager-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
  background: black;
  color: white;
}

h2 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: left;
}

.login-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  width: 80%;
}

.login-btn {
  background: transparent;
  color: white;
  padding: 15px;
  margin-top: 40px;
  border-radius: 20px;
  text-transform: uppercase;
  border: 5px solid #1db954;
  transition: color 0.3s linear;
  font-weight: 700;
  text-decoration: none;
}

.login-btn:hover {
  color: #1db954;
  background: black;
  border: 5px solid #1db954;
}

.collage-container {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
  background: black;
}

.artist-container {
  display: flex;
  flex-wrap: wrap;
  background: black;
}

.artist-container img {
  max-width: 10vw;
}

.artist-container p {
  position: absolute;
  z-index: 100;
  font-weight: 700;
}
