.artist-container {
  display: flex;
  cursor: pointer;
}

.artist-container img {
  width: 50%;
  transition: 0.2s linear;
}

.artist-container img:hover {
  width: 100%;
  filter: invert(0);
  transition: 0.2s linear;
}

.artist-container img:active {
  width: 1500%;
  filter: invert(0);
  transition: 0.2s linear;
}

.artist-container p {
  position: absolute;
  z-index: 100;
  font-weight: 700;
}
