.app-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background: var(--app-background-color);
  font-family: var(--main-font);
  color: var(--primary-text-color);
}
