/* app css reset */
* {
  box-sizing: border-box;
}

body,
div,
p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

/* app variables */
:root {
  /* background colors */
  --app-background-color: #000000;

  /* font */
  --main-font: "Roboto Mono", monospace;

  /* font color */
  --primary-text-color: white;

  /* font size */
  --primary-font-size: 20px;
}
