/* app css reset */
body,
div,
p {
  margin: 0;
  padding: 0;
}

/* app variables */
:root {
  /* background colors */
  --app-background-color: #000000;

  /* font */
  --main-font: "Roboto", sans-serif;

  /* font color */
  --primary-text-color: white;
}
